*{
    margin: 0%;
    padding: 0%;
}

header {
    
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 32rem;
    height: 50rem;
}

.flex-container nav ul{
    display: block-flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.flex-container nav ul li{
    list-style: none;
}
