/*Importing the body font*/

@import url('https://fonts.cdnfonts.com/css/geomanist');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Geomanist',Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f9f8f7;
    
}


h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
}

h3 {
    font-size: 1rem;
}

header {
    margin-bottom: 5%;
    margin-top: 5%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 40vh;
    
}

.nav-container {
    display: flex;
    justify-content: space-evenly;

}

nav ul {
    list-style: none;
    padding-bottom: 1%;
    margin-bottom: 5%;
    border-bottom: solid 2px;
    border-color: rgb(37, 144, 190);
    width: 75%;
    padding-right:1%;
    margin-left: auto;
    margin-right: auto;
}

.nav-container li a {
    color:rgb(37, 150, 190);
    text-decoration: none;
}

#valentine-title {
    margin-bottom: 5%;
    padding: 2%;
}

.promotion-container{
    display: flex;
    background-color: peachpuff;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 1;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.item-1 img {
    width: 30em;
    display: block;
    padding: 1%;
    height: 35em;
}

.item-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1%;
}

.item-2-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #BFDAA4;
    border-radius: 10px;
    
}

.item-2-1-1 {
    display: flex;
    flex-direction: column;
}

.item h3 {
    padding-bottom: 2%;
    padding-top: 1%;
}

.item-2-1-2 img {
    width: 7.5em;
    height: 100%;
    border-radius: 10px;
}

.item-2-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-2-2-1 {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.item-2-2-1 h3{
    padding-bottom: 2%;
}

.item-2-2-2 img {
    width: 7.5em;
    height: 90%;
    padding: 1%;
}

.item-2-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-2-3-2 img{
    width: 7.5em;
    height: 90%;
    padding: 1%;
}

.item-2-3 {
    display: flex;
}
.item-2-3-1 {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.item p {
    width: 20em;
}